html{
    border: 5px double rgb(101, 68, 18);
    
}
body{
    background-image: url(https://imgs.search.brave.com/TMU2tKv-Nkic9lKkRgJPxE4e0LUkR1Pyw0JVRkcCFbw/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9saXZm/b3JjYWtlLmNvbS93/cC1jb250ZW50L3Vw/bG9hZHMvMjAxOS8w/OC93aGl0ZS1jaG9j/b2xhdGUtY2FrZS10/aHVtYjEtNDUweDQ1/MC5qcGc);
    font-family:"Popppins", sans-serif;
}
h1{
    color:rgb(127, 101, 70) ;
    text-align: center;
}

aside{
    
    padding-left: 50px;
    margin: 0 auto;
    width: 300px;
    align-items: center;
}
ul{
    list-style-type: lower-greek;
    padding-left: 20px;
    
}

summary{
    padding: 30px 30px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: bisque;
    list-style: none;
    cursor: pointer;
    position: relative;
    margin-bottom: 10px;
    

}

summary::before {
  content: "🍰";
  left: 0;
  font-size: 18px;
}

details[open] summary::before {
  content: "🍽️";
}
ul li{
    border: 2px solid rgb(0, 0, 0);
    border-radius: 8px;
    background-color: whitesmoke;
    text-indent: 2px;
    padding: 10px 10px 10px 10px;
    margin-bottom: 2px;
   

}
ul li:hover{
    background-color: rgb(230, 149, 92);

}
details:hover summary{
    background-color: rgb(207, 154, 116);
}


