body{
    font-size: 1.5rem;
}
.container{
    min-width: 50px;
    min-height: 400px;
    border: 2px solid brown;
    margin: 50px;
    text-align: center;
    display: flex;
    gap: 1.5rem;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row nowrap;
    align-content: center;
   
}
.box{
    min-height: 70px;
    /* min-width: 70px; */
    background-color: black;
    color: antiquewhite;
     display: flex;
    justify-content: center;
    align-items: center;
    /* flex-basis: 70px;
    flex-shrink: 1; */
    flex: 1 1 70px;
}
.box:nth-child(2n){
        /* flex-grow: 1; */
        /* flex-shrink: 2; */
        flex: 2 2 70px;
        /* -1 start  */
        order:1;
}