 /* Display and float */
 *{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Poppins";
}
/* ol{
    background-color: rgb(201, 147, 65);
    border: 2px solid black;
    border-radius: 8px;
    text-align: center;
    padding: 1em;
    
}
li a{
    text-decoration: none;
    font-size: 100px;
     
}
li{
    display: inline-block;
    margin-inline: 1.5em;
    border: 2px solid black;
    border-radius: 8px;
    padding: 10px 10px 10px 10px;
    background-color: bisque;
   

}
li a:hover,a:focus{
    text-decoration: overline;
} */


/* .div0{
     float:left;
     background-color: rgb(96, 90, 90);
     padding: 50px;
     margin-right: 20px;
     margin-left: 50px;

}
.div2{
    float: right;
    background-color: rgb(96, 90, 90);
    padding: 50px;
    margin-right: 50px;

}
.sec{
    background-color: rgb(196, 154, 64);
    padding: 20px;
    border: 2px solid black;
     overflow: auto; or 
    display: flow-root;
    width: 50%;
} */
 /* columns */
 /* .sec{
    column-rule: 2px solid black;
    columns: 4 200px;
    column-gap: 60px;
    border: 2px solid black;
 }

.div0{
    margin:5px;
    background-color: aquamarine;
    padding: 10px;
    width:100px;
    break-inside: avoid;
}
#p1{
    color: red;
    column-span: all;
    font-size: 30px;
    text-align: center;
    border: 2px solid black;
}
   
.hypen{
    white-space: nowrap;
} */
 /* position */
.outer{
    border: 2px solid black;
    width: 70vw;
    height: 90vh;
    margin: 40px auto;
    position: relative;
}
body{
    min-height: 400vh;
    font-size: 1.5rem;
}
.inner{
    border: 2px double dodgerblue;
    width:50%;
    height: 50%;
    margin:100px auto;
}
.box{
    padding: 10px;
}
/* it refers the specified relative parent */
.one{
    background-color: cornflowerblue;
    top:0;
    left:0;
    width:90px;
    height:90px;
    position: absolute;
    z-index: 1;
}
/* it refers immediate parent */
.two{
    background-color: rgb(237, 164, 100);
    top: 100px;;
    left:100px;
    width:90px;
    height:90px;
    position: relative;
}
/* it refers the web page and if we scroll the page it consider the current web page and being fixed */
.three{
     background-color: rgb(109, 100, 237);
    top: 80px;;
    left:130px;
    width:90px;
    height:90px;
    position:fixed;

}
.four{
     background-color: rgb(175, 237, 100);
    top: 80px;;
    left:130px;
    width:90px;
    height:90px;
    position: sticky;

}