html{
    scrollbar-width: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    min-height: 400vh;
    font-size: 1.5rem;
    background-color: rgb(209, 186, 186);
}
.one,.two,.three{
    height:100vh;
}
a{
    text-decoration: none;
    color:white ;
}
a:nth-child(odd){
    color: darkgray;
}
header,footer{
    font-size: 3rem;
    text-align: center;
    background-color: rgb(217, 125, 89);
    padding: 50px;
}
.ho{
    top: 0;
    position: sticky;
    background-color: cadetblue;
    padding: 50px;
}
.ht{
    top: 0;
    position: sticky;
    background-color: rgb(157, 160, 95);
    padding: 50px;
}
.hr{
    top: 0;
    position: sticky;
    background-color: rgb(160, 95, 153);
    padding: 50px;
}
#button{
    left:0;
    top:250px;
    position: fixed;
    font-size: 1.5rem;
    padding: 5px;
    z-index: 1;
}