.divs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  margin: 20px;
}

.divs button {
  padding: 20px 20px;
  font-size: 40px;
  border-radius: 8px; 
}
h1{
  font-size: 50px;
}
#b1{
  background-color: green;
}
#b2{
  background-color: red;
}
#b3{
  background-color:blue;
}
